* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar {
  padding-bottom: 10px;
  background-color: pink;
  font-size: 18px;
}

.navbar > .logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar > .main-nav { list-style-type: none; }

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.nav-links, .logo { text-decoration: none; }


