li {
  list-style: none;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: pink;
}

h1 > a {
  padding: 20px;
}

ul {
  display: flex;
}

ul > li > a {
  padding: 20px;
}

h1 {
  margin-left: 10px;
}

ul {
  margin-right: 10px;
}